# -*- mode: ruby -*-
# vi: set ft=ruby :
NUM_WORDPRESS_NODE = {{ WordpressNodes }}
NUM_DB_NODE = {{ DbNodes }}

#IP_NW = "192.168.0."

IP_NW = "{{ IpNw }}"
WORDPRESS_IP_START = {{ WordpressStartIp }}
DB_IP_START = {{ DbStartIp }}
LB_IP_START = 30


Vagrant.configure("2") do |config|
  #config.vm.box = "generic/centos8"
  #config.vm.box_version = "4.3.8"
  config.vm.box = "generic/centos7"
  config.vm.box_check_update = false
  
  #Provision wordpress node
  (1.. NUM_WORDPRESS_NODE).each do |i|
    config.vm.define "icmp-wordpress0#{i}" do |node|
      node.vm.provider "virtualbox" do |vb|
        vb.gui = false
        vb.name = "icmp-wordpress0#{i}"
        vb.memory = "2048"
        vb.cpus = "2"
      end

      node.vm.hostname = "icmp-wordpress0#{i}"
      node.vm.network :public_network, bridge: "{{ BridgeInterface }}", ip: IP_NW + "#{WORDPRESS_IP_START + i}"
      #node.vm.network "forwarded_port", guest: 22, host: "#{2710 + i}"
      end

    config.vm.provision :ansible do |ansible|
      ansible.playbook = "SystemConfiguration.yml"
    end
  end
  
  #Provision DB node
  (1.. NUM_DB_NODE).each do |i|
    config.vm.define "icmp-db0#{i}" do |node|
      node.vm.provider "virtualbox" do |vb|
      vb.gui = false
      vb.name = "icmp-db0#{i}"
      vb.memory = "2048"
      vb.cpus = "2"
    end

      node.vm.hostname = "icmp-db0#{i}"
      node.vm.network :public_network, bridge: "{{ BridgeInterface }}", ip: IP_NW + "#{DB_IP_START + i}"
      #node.vm.network "forwarded_port", guest: 22, host: "#{2711 + i}"
      end


    config.vm.provision :ansible do |ansible|
      ansible.playbook = "SystemConfiguration.yml"
    end
  end
end
